.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #ffffff;
  font-family: "Manrope", Helvetica, Arial, sans-serif;
  color: #000000;
}

.t-header {
  display: block;
  position: relative;
  width: 100%;
  background: #044270;
  z-index: 9;
  &__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 6px 0;
    border-bottom: 1px solid #ffffff;
  }
  &__phone {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #5fc8ff;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #5388af;
    b,
    strong,
    a {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #5fc8ff;
        text-decoration: none;
      }
    }
  }
  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__logo {
    display: block;
    position: relative;
    transform: translateY(-3px);
    img,
    svg {
      display: block;
      max-width: 200px;
      max-height: 40px;
    }
    &-text {
      display: block;
      position: absolute;
      bottom: -3px;
      right: 0;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 8px;
      line-height: 11px;
      letter-spacing: 0.11em;
      color: #ffffff;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #1a82cd;
      text-decoration: none;
    }
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 920px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 18px 0;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #5fc8ff;
          text-decoration: none;
        }
      }
    }
  }
}

.t-top {
  display: block;
  position: relative;
  width: 100%;
  padding: 65px 0 140px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #044270;
  &__title {
    display: block;
    max-width: 610px;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #ffffff;
  }
  &__text {
    display: block;
    max-width: 400px;
    margin: 30px 0 0 0;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    color: #ffffff;
  }
  &__button {
    display: inline-block;
    margin: 50px 0 0 0;
    padding: 12px 34px;
    background: #5fc8ff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #044270;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.t-services {
  display: block;
  position: relative;
  padding: 90px 0 40px 0;
  background: #ffffff;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    color: #3a4548;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 385px;
    margin: 0 0 10px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:nth-child(1),
    &:nth-child(2) {
      max-width: 583px;
    }
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 270px;
      padding: 30px;
      background: rgba(4, 66, 112, 0.4);
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: rgba(26, 130, 205, 0.9);
        text-decoration: none;
      }
    }
    &__title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 27px;
      line-height: 37px;
      color: #ffffff;
    }
    &__price {
      display: block;
      margin: 10px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
    }
  }
}

.t-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px;
  background: #044270 url("../images/form_bg.jpg") no-repeat center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #ffffff;
  }
  &__text {
    display: block;
    margin: 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
  }
  ::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  input,
  textarea {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 14px 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:focus {
      border: 1px solid rgba(255, 255, 255, 1);
    }
  }
  input {
    max-width: 250px;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__info {
    display: block;
    position: relative;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 12px 30px;
    border: 0;
    outline: none;
    background: #5fc8ff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #044270;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.t-products {
  display: block;
  position: relative;
  padding: 95px 0 30px 0;
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    color: #3a4548;
  }
  &__arrows {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    min-height: 430px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    padding: 20px;
    background: #f1f4f6;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 170px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 15px 0 0 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #3a4548;
      transition: all 0.2s ease-out;
    }
    &__button {
      display: block;
      margin: 10px 0 0 0;
      padding: 8px;
      border: 0;
      outline: none;
      background: #5fc8ff;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #044270;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &__button-alt {
      display: none;
      margin: 10px 0 0 0;
      padding: 8px;
      border: 1px solid #ffffff;
      outline: none;
      background: transparent;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        border: 1px solid #044270;
        background: #044270;
        color: #ffffff;
        text-decoration: none;
      }
    }
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .t-products-card__button-alt {
        display: block;
      }
      .t-products-card__title {
        color: #ffffff;
      }
      background: #1a82cd;
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    width: 44px;
    height: 18px;
    margin: 0 0 0 32px;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: brightness(0);
      text-decoration: none;
    }
  }
}

.t-videos {
  display: block;
  position: relative;
  padding: 95px 0 120px 0;
  background: #f1f4f6;
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    color: #3a4548;
  }
  &__arrows {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 160px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      img,
      svg {
        display: block;
        max-width: 70px;
        max-height: 70px;
        transition: all 0.2s ease-out;
      }
    }
    &__title {
      display: block;
      margin: 10px 0 0 0;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: #3a4548;
      transition: all 0.2s ease-out;
    }
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .t-videos-card__image {
        img,
        svg {
          transform: scale(1.2);
        }
      }
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    width: 44px;
    height: 18px;
    margin: 0 0 0 32px;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: brightness(0);
      text-decoration: none;
    }
  }
}

.t-wrap {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 50px 0;
  background: #e6ecf1;
}

.t-about {
  display: block;
  position: relative;
  padding: 40px 0;
  &__title {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    color: #3a4548;
  }
  &__text {
    display: block;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #3a4548;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    background: #ffffff;
    &__content {
      display: block;
      position: relative;
      width: 100%;
      min-height: 336px;
      padding: 20px 30px;
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &__title {
      display: block;
      margin: 0 0 8px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: #044270;
    }
    &__text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #3a4548;
    }
    &__button {
      display: block;
      width: 100%;
      margin: 0;
      padding: 12px 30px;
      border: 0;
      outline: none;
      background: #1a82cd;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
      text-align: center;
      &_alt {
        background: #044270;
        &:hover {
          background: #1a82cd !important;
        }
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #044270;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.t-list {
  display: block;
  position: relative;
  padding: 40px 0;
  border-top: 1px solid #044270;
  &__title {
    display: block;
    margin: 0 0 18px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #3a4548;
  }
  &__text {
    display: block;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #3a4548;
  }
  &__link {
    display: block;
    margin: 0 0 16px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    color: #044270;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #1a82cd;
      text-decoration: none;
    }
  }
}

.t-docs {
  display: block;
  position: relative;
  padding: 40px 0;
  border-top: 1px solid #044270;
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-bottom: 30px;
  }
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    color: #3a4548;
  }
  &__arrows {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 170px;
    margin: 0 auto;
    border: 3px solid #ffffff;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 245px;
      background: rgba(26, 130, 205, 0.9);
      img,
      svg {
        display: block;
        max-width: 50px;
        max-height: 50px;
        transition: all 0.2s ease-out;
      }
      opacity: 0;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    width: 44px;
    height: 18px;
    margin: 0 0 0 32px;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: brightness(0);
      text-decoration: none;
    }
  }
}

.t-projects {
  display: block;
  position: relative;
  padding: 40px 0;
  border-top: 1px solid #044270;
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-bottom: 30px;
  }
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    color: #3a4548;
  }
  &__arrows {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    background: #ffffff;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 210px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &__content {
      display: block;
      position: relative;
      width: 100%;
      padding: 30px 40px;
    }
    &__title {
      display: block;
      height: 108px;
      overflow: hidden;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: #044270;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .t-projects-card__title {
        color: #ffffff;
      }
      background: #044270;
      text-decoration: none;
    }
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    padding-top: 30px;
  }
  &__link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #3a4548;
    img,
    svg {
      display: block;
      max-width: 7px;
      max-height: 14px;
      margin-left: 14px;
    }
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #3a4548;
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    width: 44px;
    height: 18px;
    margin: 0 0 0 32px;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: brightness(0);
      text-decoration: none;
    }
  }
}

.t-reviews {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0;
  background: #044270 url("../images/reviews_bg.svg") no-repeat right bottom;
  background-size: cover;
  &__title {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    color: #ffffff;
  }
  &__button {
    display: block;
    width: 100%;
    margin: 90px 0 0 0;
    padding: 12px;
    border: 0;
    outline: none;
    background: #5fc8ff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #044270;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    &__image {
      display: block;
      flex: 0 0 170px;
      height: 235px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #ffffff;
    }
    &__content {
      display: block;
      position: relative;
      flex: 1 1 auto;
      padding-left: 20px;
    }
    &__title {
      display: block;
      max-width: 360px;
      height: 66px;
      overflow: hidden;
      margin: -5px 0 20px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: #ffffff;
    }
    &__text {
      display: block;
      height: 110px;
      overflow: hidden;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
    }
    &__link {
      display: block;
      margin: 24px 0 0 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .swiper-pagination-fraction {
    bottom: auto;
    top: 0;
    text-align: right;
    pointer-events: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #5fc8ff;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 44px;
    height: 18px;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    &:before,
    &:after {
      display: none;
    }
    filter: brightness(0) invert(1);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(1.1);
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: auto;
    right: 76px;
  }
  .swiper-button-next {
    left: auto;
    right: 0;
  }
}

.t-companies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 45px 0;
  border-bottom: 1px solid #044270;
  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
    img,
    svg {
      display: block;
      max-width: 105px;
      max-height: 105px;
    }
  }
}

.t-footer {
  display: block;
  position: relative;
  padding: 85px 0;
  &__link {
    display: block;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #1a82cd;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #044270;
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 10px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #3a4548;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #1a82cd;
          text-decoration: none;
        }
      }
    }
  }
  &__logo {
    display: block;
    position: relative;
    transform: translateY(-3px);
    img,
    svg {
      display: block;
      max-width: 250px;
      max-height: 50px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #1a82cd;
      text-decoration: none;
    }
  }
  &__phone {
    display: block;
    margin: 23px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #044270;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #1a82cd;
      text-decoration: none;
    }
  }
  &__button {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 12px;
    border: 0;
    outline: none;
    background: #1a82cd;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    &-alt {
      display: flex;
      justify-content: center;
      align-items: center;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
      border: 1px solid #5fc8ff;
      background: transparent;
      &:hover {
        background: #5fc8ff !important;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #044270;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__creators {
    display: block;
    position: relative;
    margin: 43px 0 0 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #5fc8ff;
    a {
      color: #5fc8ff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #044270;
        text-decoration: none;
      }
    }
  }
}

.t-mob {
  display: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .t-header__logo {
    width: 100%;
    margin: 10px 0;
  }
  .t-mob {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 0 6px 6px;
    img,
    svg {
      display: block;
      max-width: 32px;
      max-height: 32px;
    }
    filter: brightness(0) invert(1);
    cursor: pointer;
    z-index: 9;
  }
  .t-header__info {
    width: 100%;
    margin: 0 0 6px 0;
  }
  .t-header__top {
    display: none;
    border: 0;
  }
  .t-header__nav {
    display: none;
    padding: 12px 0;
  }
  .t-header__nav li {
    display: block;
    width: 100%;
    a {
      width: 100%;
      padding: 12px 0;
    }
  }
  .t-header__logo-text {
    display: none;
  }
  .t-top {
    padding: 20px 0;
  }
  .t-top__title {
    font-size: 32px;
    line-height: 1.25;
  }
  .t-top__text {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.25;
  }
  .t-top__button {
    margin-top: 20px;
  }
  .t-services {
    padding: 40px 0;
  }
  .t-services__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .t-form {
    padding: 20px;
  }
  .t-form__title {
    font-size: 28px;
    line-height: 1.2;
  }
  .t-form input {
    max-width: 100%;
  }
  .t-form__info {
    margin: 10px 0;
  }
  .t-form input,
  .t-form textarea {
    margin-bottom: 5px;
  }
  .t-products {
    padding: 40px 0;
  }
  .t-products__title {
    font-size: 28px;
    line-height: 1.2;
  }
  .t-products__row {
    padding-bottom: 15px;
  }
  .t-products__arrows {
    justify-content: flex-end;
    width: 100%;
    padding-top: 15px;
  }
  .t-products-card {
    background: #1a82cd;
  }
  .t-products-card__button-alt {
    display: block;
  }
  .t-videos {
    padding: 40px 0;
  }
  .t-videos__title {
    font-size: 28px;
    line-height: 1.2;
  }
  .t-videos__row {
    padding-bottom: 15px;
  }
  .t-videos__arrows {
    justify-content: flex-end;
    width: 100%;
    padding-top: 15px;
  }
  .t-wrap {
    padding: 5px 0;
  }
  .t-about__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.2;
  }
  .t-docs {
    padding: 40px 0;
  }
  .t-docs__title {
    font-size: 28px;
    line-height: 1.2;
  }
  .t-docs__row {
    padding-bottom: 15px;
  }
  .t-docs__arrows {
    justify-content: flex-end;
    width: 100%;
    padding-top: 15px;
  }
  .t-projects {
    padding: 40px 0;
  }
  .t-projects__title {
    font-size: 28px;
    line-height: 1.2;
  }
  .t-projects__row {
    padding-bottom: 15px;
  }
  .t-projects__arrows {
    justify-content: flex-end;
    width: 100%;
    padding-top: 15px;
  }
  .t-projects-card__content {
    padding: 20px;
  }
  .t-projects-card__image {
    height: 180px;
  }
  .t-reviews {
    padding: 40px 0;
  }
  .t-reviews__button {
    margin: 20px 0;
  }
  .t-reviews-card {
    flex-flow: column nowrap;
  }
  .t-reviews-card__content {
    padding: 10px 0 0 0;
  }
  .t-reviews-card__image {
    width: 170px;
    flex: 0 0 230px;
  }
  .t-reviews-card__title {
    margin: 0 0 10px 0;
  }
  .t-companies {
    padding: 20px 0;
  }
  .t-footer {
    padding: 40px 0;
  }
  .t-footer__nav {
    margin-bottom: 20px;
  }
}
